<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="uk-text-center">
    <div
        class="uk-container uk-container-xsmall uk-padding-remove-left uk-padding-remove-right">
        <div class="uk-cover-container uk-height-medium">
            <img src="{{ '/assets/images/lettuce-cropped-web.jpeg' | relative_url }}"
                alt="Beautiful Young Edgie's Veggies Lettuce covered in rain droplets"
                uk-cover>
        </div>
    </div>


    <div>
        <div
            class="uk-heading-xlarge uk-text-bolder uk-margin-small-bottom logo">
            EDGIE'S VEGGIES</div>
        <p class="uk-text-light uk-margin-remove-top logo-sub-heading">
            SALAD GREENS GROWN IN ST. PAUL SOIL</p>
    </div>

    <div class="uk-container uk-container-xsmall">
        <div
            class="uk-tile uk-tile-default uk-margin-medium-bottom edgie-border">
            <p>Edgie's Veggies is a small scale market garden in St. Paul, MN.
                We grow absolutely delicious salad greens with a freshness that
                lasts using principles and methods that embrace the soil's
                biological systems.
            </p>
            <p class="uk-margin-large-bottom">Find our greens on Saturdays
                at<br />
                <span class="uk-text-large">St. Paul Farmers' Market, 290 5th
                    St.
                    East, St. Paul, MN 55101</span>
            </p>

            <div>
                <h1 class="uk-margin-small-bottom">Get our farm newsletter!</h1>
                <div>
                    <div>
                        <p>We'll send you weekly harvest updates so you can plan
                            your menu.
                        </p>
                    </div>
                    <form
                        class="js-cm-form uk-form-stacked uk-text-left uk-align-center uk-width-2-3@s"
                        id="subForm"
                        action="https://www.createsend.com/t/subscribeerror?description="
                        method="post"
                        data-id="2BE4EF332AA2E32596E38B640E9056198AB1CE755310223F51B9B7A1A84ECCF0D5273ABBAB8D761069F57EC9F57688E765894B26C821D8708B348E851258F3F4">
                        <div class="uk-margin">
                            <label class="uk-form-label">Name</label>
                            <input aria-label="Name"
                                class="uk-input edgie-secondary-border"
                                id="fieldName" maxlength="200" name="cm-name">
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label">Email</label>
                            <input autocomplete="Email" aria-label="Email"
                                class="js-cm-email-input qa-input-email uk-input edgie-secondary-border"
                                id="fieldEmail" maxlength="200"
                                name="cm-ydykkhy-ydykkhy" required=""
                                type="email">
                        </div>
                        <div class="uk-margin">
                            <button type="submit"
                                class="uk-button uk-button-secondary uk-align-center">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <script type="text/javascript"
                src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>

        </div>
    </div>

    <div
        class="uk-container uk-container-xsmall uk-margin-medium-bottom uk-padding-remove-left uk-padding-remove-right">
        <div class="uk-position-relative uk-visible-toggle uk-light"
            tabindex="-1" uk-slideshow="autoplay: true; ratio: 3:2">
            <ul class="uk-slideshow-items">
                {% for image in site.static_files %}
                {% if image.path contains 'images/home-slides/' %}
                {% increment slider_counter %}
                <li>
                    <img src="{{ image.path | relative_url }}" alt="image"
                        uk-cover>
                </li>
                {% endif %}
                {% endfor %}
                {% decrement slider_counter %}
            </ul>

            <a class="uk-position-center-left uk-position-small" href="#"
                uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#"
                uk-slidenav-next uk-slideshow-item="next"></a>

            <div class="uk-position-bottom-center uk-position-small">
                <ul class="uk-dotnav">
                    {% for i in (0..slider_counter) %}
                    <li uk-slideshow-item="{{ i }}"><a href="#">Item {{ i }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="uk-container uk-container-xsmall uk-margin-medium">
        <div class="uk-child-width-1-2@s uk-grid-medium uk-grid-match uk-grid"
            uk-grid>
            <div class="uk-first-column">
                <div class="uk-card uk-card-default uk-card-body edgie-border">
                    <h3 class="uk-text-large">CONTACT US</h3>
                    <a
                        href="mailto:edgie@edgiesveggies">edgie@edgiesveggies.com</a>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body edgie-border">
                    <h3>Follow Us</h3>
                    <a href="https://www.instagram.com/edgiesveggies/"
                        uk-icon="icon: instagram; ratio: 2;"></a>
                </div>
            </div>
        </div>
    </div>
    <p class="uk-text-center uk-text-small">&copy; Edgie's Veggies</p>
</body>

</html>
